<strong>Olá {{ name }}</strong>

<p>Informamos que recebemos seus dados com sucesso, um Consultor do Sebrae deve analisar em breve. </p>

<p>Fica tranquilo que iremos te informar sobre o status da sua consultoria.</p>

<p>Equipe Transforma Sebrae</p>
